body {
  background-color: #f7f7f7;
}

.container {
  padding: 0.5rem 0;
  background-color: #f7f7f7;
}
.message {
  display: block;
  width: 8.6rem;
  height: 2.5rem;
  padding: 0.1rem 0.2rem;
  font-size: 0.4rem;
  line-height: 0.65rem;
  margin: 0 auto;
  border: 1px solid #dcdcdc;
}
.send {
  display: block;
  width: 4.5rem;
  height: 1.2rem;
  margin: 0.8rem auto;
  line-height: 1.2rem;
  text-align: center;
  font-size: 0.45rem;
  background-color: #f07410;
  border-radius: 0.2rem;
}

.message-box {
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  background-color: #fff;
  padding-bottom: 0.5rem;
}
.message-box .item-tit {
  width: 9.2rem;
  height: 1.2rem;
  line-height: 1.2rem;
  font-size: 0.45rem;
  margin: 0 auto;
}
.message-box .message-item {
  width: 9rem;
  margin: 0 auto;
  padding: 0 0.1rem;
  line-height: 0.8rem;
  color: #666;
}
