.container {
  border-top: 0.2rem solid #f7f7f7;
}
.msg-item {
  height: 1.4rem;
  line-height: 1.4rem;
  text-align: right;
  font-size: 0.4rem;
  border-bottom: 1px solid #dcdcdc;
}
.msg-item .int {
  width: 70%;
  border: 0;
  margin-left: 0.5rem;
}

/*底部按钮*/
.footer {
  padding-top: .5rem;
  padding-bottom: 1rem;
  background-color: #f7f7f7;
}
.edit, .save {
  display: block;
  width: 4.5rem;
  height: 1.2rem;
  margin: 0.1rem auto;
  line-height: 1.2rem;
  font-size: 0.4rem;
  text-align: center;
  background-color: #f07410;
  border-radius: 0.2rem;
}
.save {
  background-color: #666;
}
