.container {
  padding-top: 0.2rem;
  padding-bottom: 0.5rem;
  background-color: #f7f7f7;
}
.container section {
  margin-bottom: 0.3rem;
  background-color: #fff;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding-bottom: 0.2rem;
}
.item-tit {
  width: 9.2rem;
  height: 1.2rem;
  margin: 0 auto;
  line-height: 1.2rem;
  font-size: 0.45rem;
  border-bottom: 1px solid #eee;
}

/*患者信息*/
.patient-tit {
  position: relative;
}
.patient-tit span {
  padding-left: 0.3rem;
}
.patient-tit .edit {
  position: absolute;
  width: 1.6rem;
  height: 0.8rem;
  line-height: 0.8rem;
  text-align: center;
  font-size: 0.3rem;
  color: #fff;
  background-color: #f07410;
  right: 0;
  top: 0.2rem;
  padding: 0;
  border-radius: 0.5rem;
}
.patient .item-msg {
  width: 9rem;
  height: 0.8rem;
  margin: 0 auto;
  line-height: 0.8rem;
  padding: 0 0.1rem;
  color: #666;
  font-size: 0.4rem;
  display: flex;
  justify-content: space-between;
}

/*联系人信息*/
.link-list {
  width: 9.2rem;
  margin: 0 auto;
}
.list-item {
  display: flex;
  height: 0.8rem;
  line-height: 0.8rem;
  font-size: 0.4rem;
  color: #666;
}
.link-list .list-tit {
  color: #000;
}
.list-item span {
  flex: 1 0;
}

/*病历信息*/
.medical {
  width: 9.2rem;
  margin: 0 auto;
}
.medical-tit {
  height: 0.8rem;
  line-height: 0.8rem;
  font-size: 0.4rem;
  padding-left: 0.1rem;
  color: #666;
}
.medical-img .msg-img {
  width: 2rem;
  height: 1.5rem;
  margin: 0.1rem;
}

/*协作单据*/
.times {
  width: 9rem;
  height: 1.2rem;
  line-height: 1.2rem;
  padding: 0 0.1rem;
  margin: 0 auto;
}
.times a {
  display: inline-block;
  width: 2.2rem;
  height: 0.9rem;
  line-height: 0.9rem;
  margin: 0 0.1rem;
  text-align: center;
  border: 1px solid #dcdcdc;
  border-radius: 0.5rem;
  color: #666;
}

/*所购药物*/
.drug-list {
  width: 9.2rem;
  margin: 0 auto;
}
.drug-list .drug-item {
  display: flex;
  height: 0.8rem;
  line-height: 0.8rem;
  font-size: 0.4rem;
  color: #666;
  justify-content: space-between;
}
.drug-list .drug-item span {
  /*flex: 1 0;*/
}
