body {
  background-color: #f7f7f7;
}
.container {

}
.result {
  height: 3rem;
  padding: 0.3rem;
  font-size: 0.4rem;
  border-top: 0.2rem solid #f7f7f7;
  border-bottom: 1px solid #dcdcdc;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}
.msg-tit {
  padding-top: 0.3rem;
  font-size: 0.4rem;
  color: #666;
}
.msg-main {
  color: #000;
  font-size: 0.45rem;
  font-weight: bold;
  width: 5.5rem;
}
.result-img {
  padding-top: 0.2rem;
}
.result-img .img-wrap {
  width: 3.8rem;
  height: 2.5rem;
}
